<div class="container">

  <h1>Inbox</h1>
  <% @inMessages.each do |message| %>
    <% if message.status == 0 %>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">

            <h4 class="card-title">
              <b>Sender:</b>
              <%= message.sender_id %>
            </h4>
            <%= link_to 'See more', '#',
              :onclick => setReaded(message.id)%>
              <p class="card-text content-message">
                <b>Sent at:</b>
                <%= message.created_at %>
              </p>
              <div id="message-content">
                <p class="card-text content-message">
                  <b>Message:</b>
                  <%= message.content %>
                </p>
              </div>
          </div>
        </div>
      </div>
      <% end %>
        <% end %>

          <h1>Sent</h1>
          <% @outMessages.each do |message| %>
            <div class="col-sm">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= message.receiver_id %>
                  </h4>
                  <p class="card-text">
                    <%= message.content %>
                  </p>
                  <% if message.status == 0%>
                    <span class="label label-danger">Unread</span>
                    <% else %>
                      Read at:
                      <%= message.seen_time%>
                        <% end %>
                </div>
              </div>
            </div>
            <% end %>