
<div class="container">

<div class="row justify-content-center">


<%= form_for (@user) do |f| %>
    <h1>Signup!</h1>
  Name: <%= f.text_field :name, class:"form-control" %>
  Email: <%= f.text_field :email, class:"form-control" %>
  Password: <%= f.password_field :password, class:"form-control" %>
  Password Confirmation: <%= f.password_field :password_confirmation, class:"form-control" %>
  <%= f.submit "Submit", class:"btn btn-primary form-control" %>

<% end %>
</div>
</div>